/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 16, 2026, 2:18:25 PM
    Author     : admin
*/
.container
{
     -fx-background-color:black;
    -fx-alignment: center;
    -fx-spacing:10;
    
    
}
.title
{
    -fx-fill:red;
    -fx-font-size:40;
    -fx-font-weight:bold;
    -fx-stroke-width:3;
    -fx-stroke-color:gold;
}

.button
{
    -fx-background-color:darkblue;
    -fx-text-fill:white;
    -fx-pref-width:200;
    
}